<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta Compartida</title>
    <style>
        .recipe {
            margin: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            max-width: 600px;
            font-family: Arial, sans-serif;
        }
        .recipe img {
            max-width: 100%;
            border-radius: 10px;
            margin-top: 10px;
        }
        .title {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .ingredients, .instructions {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="recipe" id="recipe">
        <h2 class="title"><%= recipe.title %></h2>

<!-- Mostrar Ingredientes --> 
<div class="ingredients">
    <strong>Ingredientes:</strong>
    <p>
        <%- recipe.ingredients.replace(/[\[\]"]/g, '')
                              .replace(/},{/g, '<br>') 
                              .trim() %>
    </p>
</div>


    
<!-- Mostrar Instrucciones -->
<div class="instructions">
    <strong>Instrucciones:</strong>
    <p>
        <%- recipe.instructions.replace(/\\\"/g, '')
                                .replace(/\"/g, '')
                                .replace(/\[/g, '')
                                .replace(/\]/g, '')
                                .replace(/,/g, '<br>')
                                .split('<br>').map(instruction => `- ${instruction.trim()}`).join('<br>') %>
    </p>
</div>








        <% if (recipe.image) { %>
            <img src="<%= recipe.image %>" alt="<%= recipe.title %>">
        <% } else { %>
            <p>No hay imagen disponible.</p>
        <% } %>
    </div>
</body>
</html>
